extends layout_plain

block content
    script(src='/javascripts/presentation.js')
    script(src='/javascripts/model/presentationCtrl.js')
    script(src='/javascripts/frameworks/pdf.js')
    script(src='/javascripts/frameworks/jquery.event.drag-2.2.js')
    #presentation-container.container(ng-controller="presentationCtrl")
        link(rel='stylesheet', href='/stylesheets/presentation.css')
        h1 Presentation
        div
            .row
                .col-md-4.container
                    button#fullscreen.form-control.btn.btn-primary(href='') Fullscreen
        p#curPage
            | Slide Number {{currentPage}}
        div#canvas-container
            canvas#slide-display

        input#currentPage(value="{{currentPage}}", type="hidden")
